@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Yanone Kaffeesatz';

}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  font-size: 3.2rem;
}

.App {
  display: flex;
  flex-flow: row wrap;
  background: #BDBDBD;
}

.HeaderBar{
  background: #06000a;
  flex: 1 100%;
}

.ApplikasjonsOverskrift {
  display: block;
  color: #c43235;
  text-align: center;
}

.ApplikasjonsOmrade {
  width: 100%;
}

.ObjektTypeListe {
  flex: 0 0;
  float: left;
  width: 20rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: .8rem;
  background: #CFD8DC;
}

.ObjektTypeListe ul{
  list-style-type: none;
}

.ObjektTypeListe li:hover{
  background: #963019;
  display: block;
}

.ObjektType {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  word-wrap: normal;
  width: 50rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: .8rem;
  background: #CFD8DC;
}

.ObjektTypeOverskrift {
  display: flex;
}

.ObjektType__Definisjoner {
  margin: 1rem;
  padding: .8rem;
}

.ObjekttypeDefinisjon-Tittel, .ObjekttypeDefinisjon-Verdi {
  float: left
 }

.ObjekttypeDefinisjon-Tittel {
  width: 150px;
  clear: both;
}
.ObjekttypeDefinisjon-Verdi {
  width: 350px;
}


.ObjektType_EgenskapsListe {
  margin: 1rem;
  padding: .8rem;
}

.EgenskapsListe__Egenskaper {
}

.Egenskap__Tittel {
  float:left;
  width: 150px;
  clear:both;
  /*border:1px solid #000;*/
}

.Egenskap__Verdi {
  width: 400px;
  margin-left: 150px;
  /*border:1px solid #000;*/
}

.FlerverdiAttributtListe dl{
  margin-left: 75px;
}

.Egenskap__Verdiliste-Tittel {
  float: left;
}

.Egenskap__Verdiliste-Verdi {
  width: 350px;
}

.StyringsParameter__Tittel {
  float:left;
  font-weight: bold;
}
.StyringsParameter__Verdi {
  margin-left: 150px;
}

.ObjektType__Relasjoner {
  margin: 1rem;
  padding: .8rem;
}

.ObjektType__Styringsparametre {
  margin: 1rem;
  padding: .8rem;
}





.EgenskapsDatatype {
  font-family: monospace;
}

.FlerverdiAttributtListe {
  margin-left: 5em;
}

.ObjektType [class*="Statistikk"] {
  color: #963019;
  font-weight: bolder;
  float:right;
  text-align: right;
}

.ObjektType [class*="Beskrivelse"] {
  font-style: italic;
}

.ObjektType [class*="Veiledning"] {
  font-style: italic;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
